body {
    font: 90%/1 "Forum";
    max-width: 70ch;
    margin-inline: auto;
    padding: 5ch;
    text-align: left;
}

h1 {
  font: 120% "Forum";
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.about, .data, .hockey, .words {
    color: #000000;
    text-decoration: none;
}

.about {
    background-color:#FEF6C9;
}

.words {
    background-color:#E1E9D8;
}

.hockey {
    background-color:#FFD8D6;
}

.data {
    background-color: #E6E6EF;
}

a {
    color: #000000;
    font-style: italic; 
    text-decoration: none; 
    background-color: #eeeeee;
}