body {
    font: 90%/1 "Forum";
    max-width: 70ch;
    margin-inline: auto;
    padding: 5ch;
    text-align: left;
}

h1 {
  font: 120% "Forum";
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.work-link {
    color: #000000;
    background-color: #E6E6EF;
    text-decoration: none;
}

.proper-noun {
    text-decoration: underline;
    text-decoration-color: #E6E6EF;
}

.my-data {
    display: list-item;
    list-style-type: "↗";
    padding-inline-start: 1ch;
    margin-bottom: 1em;
  }

.my-data::marker {
    font-size: .7rem;
}

.others-data {
    display: list-item;
    list-style-type: "●";
    padding-inline-start: 1ch;
    margin-bottom: 1em;
  }

.others-data::marker {
    font-size: .5rem;
}