body {
    font: 90%/1 "Forum";
    max-width: 70ch;
    margin-inline: auto;
    padding: 5ch;
    text-align: left;
}

h1 {
  font: 120% "Forum";
}

h2 {
    font: 90%/1 "Forum";
    font-weight: bold;
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: #E6E6EF;
}