body {
    font: 90%/1 "Forum";
    max-width: 70ch;
    margin-inline: auto;
    padding: 5ch;
    text-align: left;
}

h1 {
  font: 120% "Forum";
}

.nav-home {
    font: 90%/1 "Forum";
    color: #000000;
    background-color: none;
    text-decoration: none;
    text-align: right;
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}