body {
    font: 90%/1 "Forum";
    max-width: 70ch;
    margin-inline: auto;
    padding: 5ch;
    text-align: left;
}

h1 {
  font: 120% "Forum";
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.work-link {
    color: #000000;
    /* font-style: italic; */
    background-color: #E1E9D8;
    text-decoration: none;
}

.magazine-title {
    text-decoration: underline;
    text-decoration-color: #E1E9D8;
}

.my-words {
    display: list-item;
    list-style-type: "●";
    padding-inline-start: 1ch;
    margin-bottom: 1em;
  }

.my-words::marker {
    font-size: .5rem;
}

.others-words {
    display: list-item;
    list-style-type: "↗";
    padding-inline-start: 1ch;
    margin-bottom: 1em;
  }

.others-words::marker {
    font-size: .7rem;
}